<div class="card-wrapper" *ngIf="product">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img *ngFor="let image of product.images" [src]="image.imageUrl" alt="product image" />
        </div>
      </div>
      <div class="img-select">
        <div *ngFor="let image of product.images" class="img-item">
          <a (click)="onImageSelect(image)">
            <img [src]="image.imageUrl" alt="product image" />
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">{{ product.name }}</h2>
      <a class="product-link">visit store</a>
      <div class="product-rating">
        <i class="fas fa-star" *ngFor="let star of [].constructor(ratingDetails[0])"></i>
        <i class="fas fa-star-half-alt" *ngIf="ratingDetails[1] > 0"></i>
        <i class="far fa-star" *ngFor="let star of [].constructor(ratingDetails[2])"></i>
        <span>{{ rating.toFixed(1) }} (21)</span>
      </div>

      <div class="product-price">
        <p class="last-price">Old Price: <span>{{ product.unitPrice * 1.1 | currency:'USD' }}</span></p>
        <p class="new-price">New Price: <span>{{ product.unitPrice| currency:'USD' }} (10%)</span></p>
      </div>

      <div class="product-detail">
        <h2>About this item:</h2>
        <p>{{ product.productDescription }}</p>
        <ul>
          <li>Available: <span>{{ product.unitsInStock > 0 ? 'In stock' : 'Out of stock' }}</span></li>
          <li>Date Created: <span>{{ product.dateCreated | date }}</span></li>
          <li>Last Updated: <span>{{ product.lastUpdated | date }}</span></li>
        </ul>
      </div>
      <div>
        <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button>
      </div>
      <div>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
      </div>
    </div>
  </div>
</div>
