<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row" style="margin-bottom: 30px;">
            <h5>Select a saved shipping address below:</h5>
            <div *ngFor="let address of savedShippingAddresses">
              <label>
                <input type="radio" name="shippingAddress" [value]="address" (change)="selectShippingAddress(address)"
                  [checked]="selectedShippingAddress === address">
                  {{ address.number }} {{ address.street }}, box {{ address.box }},{{ address.city }}, {{ address.postalCode }}, {{ address.country }}
              </label>
            </div>
          </div>

          <div class="row">
            <h5>Click here to enter a new shipping address</h5>
            <div class="input-space">
              <label class="au-checkbox">
                <input type="checkbox" id="useNewShippingAddress" #useNewShippingAddressCheckbox
                  (change)="toggleNewShippingAddress($event)">
                <span class="au-checkmark" style="border: grey 2px solid;"></span> Use a new shipping address
              </label>
            </div>
          </div>

          <!-- New Shipping Address Form -->
          <div *ngIf="useNewShippingAddress">
            <!-- Street -->
            <div class="row">
              <div class="col-md-2"><label>Street</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="street" type="text" class="form-control">
                  <div
                    *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhiteSpace'] ">Street is required</div>
                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']">Street must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Number -->
            <div class="row">
              <div class="col-md-2"><label>Number</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="number" type="text" class="form-control">
                  <div
                    *ngIf="shippingAddressNumber?.invalid && (shippingAddressNumber?.dirty || shippingAddressNumber?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressNumber?.errors?.['required']">Number is required</div>
                    <div *ngIf="shippingAddressNumber?.errors?.['pattern']">Only numbers are allowed</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Box -->
            <div class="row">
              <div class="col-md-2"><label>Box</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="box" type="text" class="form-control">
                  <div *ngIf="shippingAddressBox?.invalid && (shippingAddressBox?.dirty || shippingAddressBox?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressBox?.errors?.['required']">Box is required</div>
                    <div *ngIf="shippingAddressBox?.errors?.['pattern']">Only numbers are allowed (maximum 3 digits)</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Postal Code -->
            <div class="row">
              <div class="col-md-2"><label>Postal Code</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="postalCode" type="text" class="form-control">
                  <div
                    *ngIf="shippingAddressPostalCode?.invalid && (shippingAddressPostalCode?.dirty || shippingAddressPostalCode?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressPostalCode?.errors?.['required']">Postal Code is required</div>
                    <div *ngIf="shippingAddressPostalCode?.errors?.['pattern']">Postal Code must be 5 digits</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- City -->
            <div class="row">
              <div class="col-md-2"><label>City</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="city" type="text" class="form-control">
                  <div
                    *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhiteSpace']">City is required</div>
                    <div *ngIf="shippingAddressCity?.errors?.['minlength']">City must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Country -->
            <div class="row">
              <div class="col-md-2"><label>Country</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="country" type="text" class="form-control">
                  <div
                    *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="shippingAddressCountry?.errors?.['required'] || shippingAddressCountry?.errors?.['notOnlyWhiteSpace']">Country is required</div>
                    <div *ngIf="shippingAddressCountry?.errors?.['minlength']">Country must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row" style="margin-bottom: 30px;">
            <h5>Select a saved billing address below:</h5>
            <div *ngFor="let address of savedBillingAddresses">
              <label>
                <input type="radio" name="billingAddress" [value]="address" (change)="selectBillingAddress(address)"
                  [checked]="selectedBillingAddress === address">
                {{ address.number }} {{ address.street }}, box {{ address.box }},{{ address.city }}, {{ address.postalCode }}, {{ address.country }}
              </label>
            </div>
          </div>

          <div class="row">
            <h5>Click here to enter a new billing address</h5>
            <div class="input-space">
              <label class="au-checkbox">
                <input type="checkbox" id="useNewBillingAddress" #useNewBillingAddressCheckbox
                  (change)="toggleNewBillingAddress($event)">
                <span class="au-checkmark" style="border: grey 2px solid;"></span> Use a new billing address
              </label>
            </div>
          </div>

          <!-- New Billing Address Form -->
          <div *ngIf="useNewBillingAddress">
            <!-- Street -->
            <div class="row">
              <div class="col-md-2"><label>Street</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="street" type="text" class="form-control">
                  <div
                    *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhiteSpace'] ">Street is required</div>
                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">Street must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Number -->
            <div class="row">
              <div class="col-md-2"><label>Number</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="number" type="text" class="form-control">
                  <div
                    *ngIf="billingAddressNumber?.invalid && (billingAddressNumber?.dirty || billingAddressNumber?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressNumber?.errors?.['required']">Number is required</div>
                    <div *ngIf="billingAddressNumber?.errors?.['pattern']">Only numbers are allowed</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Box -->
            <div class="row">
              <div class="col-md-2"><label>Box</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="box" type="text" class="form-control">
                  <div *ngIf="billingAddressBox?.invalid && (billingAddressBox?.dirty || billingAddressBox?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressBox?.errors?.['required']">Box is required</div>
                    <div *ngIf="billingAddressBox?.errors?.['pattern']">Only numbers are allowed (maximum 3 digits)</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Postal Code -->
            <div class="row">
              <div class="col-md-2"><label>Postal Code</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="postalCode" type="text" class="form-control">
                  <div
                    *ngIf="billingAddressPostalCode?.invalid && (billingAddressPostalCode?.dirty || billingAddressPostalCode?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressPostalCode?.errors?.['required']">Postal Code is required</div>
                    <div *ngIf="billingAddressPostalCode?.errors?.['pattern']">Postal Code must be 5 digits</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- City -->
            <div class="row">
              <div class="col-md-2"><label>City</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="city" type="text" class="form-control">
                  <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhiteSpace']">City is required</div>
                    <div *ngIf="billingAddressCity?.errors?.['minlength']">City must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Country -->
            <div class="row">
              <div class="col-md-2"><label>Country</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="country" type="text" class="form-control">
                  <div
                    *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="billingAddressCountry?.errors?.['required'] || billingAddressCountry?.errors?.['notOnlyWhiteSpace']">Country is required</div>
                    <div *ngIf="billingAddressCountry?.errors?.['minlength']">Country must be at least 2 characters long</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formGroupName="creditCard" class="form-area">
          <h3>Credit or Debit Card</h3>
          <div id="card-element"></div>
          <div id="card-errors" class="displaError.textContent!=='' : 'alert alert-danger mt-1'"></div>
        </div>

        <div class="form-area">
          <h3>Choose a Delivery Method</h3>

          <div class="row">
            <div class="col-md-9">
              <label>
                <input type="radio" formControlName="deliveryMethod" value="Standard" (change)="updateTotalPrice()" />
                Standard Shipping (5-7 business days) - 5.00 €
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <label>
                <input type="radio" formControlName="deliveryMethod" value="Express" (change)="updateTotalPrice()" />
                Express Shipping (2-3 business days) - 15.00 €
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <label>
                <input type="radio" formControlName="deliveryMethod" value="Overnight" (change)="updateTotalPrice()" />
                Overnight Shipping (1 business day) - 25.00 €
              </label>
            </div>
          </div>

          <!-- Error message if no delivery method is selected -->
          <div *ngIf="checkoutFormGroup.get('deliveryMethod')?.invalid && (checkoutFormGroup.get('deliveryMethod')?.dirty || checkoutFormGroup.get('deliveryMethod')?.touched)" class="alert alert-danger">
            <div *ngIf="checkoutFormGroup.get('deliveryMethod')?.errors?.['required']">
              Please select a delivery method
            </div>
          </div>
        </div>

        <!-- Review Section -->
        <div class="form-area">
          <h3>Order Review</h3>

          <div class="row">
            <div class="col-md-9">
              <p>Total Quantity: {{ totalQuantity }}</p>
              <p>Product Total Price: {{ getTotalPriceFromService() | currency }}</p>
              <p>Delivery Cost: {{ checkoutFormGroup.get('deliveryMethod')?.value === 'Standard' ? '5.00 €' :
                                  checkoutFormGroup.get('deliveryMethod')?.value === 'Express' ? '15.00 €' :
                                  '25.00 €' }}</p>
              <p>Total Price (with Delivery): {{ totalPrice | currency }}</p>
            </div>
          </div>
        </div>


        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info" >Purchase</button>
        </div>

      </form>

    </div>
  </div>
</div>
